/example-hwk/hwk1/#Hwk1Tests.hs#
/example-hwk/hwk1/.#Hwk1Tests.hs
/Hwk/*.hi
/Hwk/*.o
/Hwk/*.exe
/Hwk/*.txt
/Hwk/Hwk1/*.hi
/Hwk/Hwk1/*.o
/Hwk/Hwk1/*.exe
/Hwk/Hwk1/*.txt
*.txt
*.o
*.hi
*dyn_hi
*.dyn_o
.DS_Store
